<html>
<head>
  <title>Yugo Console</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-light bg-light mb-2">
    <a class="navbar-brand" href="#">
      Yugo Console
    </a>
  </nav>
<main class="container-fluid row">
  <div class="col">
    <form action="console" method="post">
      <textarea class="form-control" rows="20" name="expression"><%= form['expression'] %></textarea>
      <button class="btn btn-primary">Evaluate</button>
    </form>
  </div>
  <div class="col overflow-auto">
    <% if form['expression'] %>
      <table class="table">
        <tr>
          <th>Ruby / ERB</th>
          <td>
            <pre><code><%=h Yugo::CFML.compile_string(form['expression']) %></code></pre>
          </td>
        </tr>
        <tr>
          <th>Result</th>
          <td>
            <%= evaluate(form['expression']) %>
          </td>
        </tr>
        <tr>
          <th>Environment</th>
          <td><%= format(Yugo::CFML::TOPLEVEL) %></td>
        </tr>
        <tr>
          <th>S-Expression</th>
          <td>
            <code>
              <%= format(Yugo::CFML.ruby_ast_from_string(form['expression']).to_sexp) %>
            </code>
          </td>
        </tr>
        <tr>
          <th>AST</th>
          <td>
            <code>
              <%=h Yugo::CFML.ruby_ast_from_string(form['expression']).inspect %>
            </code>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</main>
</body>
</html>
